* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#canvas {
    min-width: 1000px;
    min-height: 600px;
}

#legend {
    margin-top: 50px;
    height: 300px;
}